html {
   /* background-color:lightgray; */
   background-color:rgb(240, 240, 240);
}

h1 {
    /* color :blue; */
    color: #2c3e50;
}

h2::before {
    content: "★";
    color:red; 
}

p {
    /*font-size: 16px; */                                  /* не изменяется размер в медиа-запросах если это правило прописано */    
    font-family: Georgia, serif;
}

::selection {
    background-color: yellow;
}

.main-title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.first-container  {
    text-align: center;
    margin-right: 10px;
    background-color: lightgray;
}

.first-container p::first-letter {
    font-size: 2em;
    color: red;
}

.second-container {
    background-color: lightgray;  
}

.second-container p {
    text-align: center;
}

.second-container h2{
    text-align: center;
}

.text {
    color:green;
}

    /* оглавление */
.menu {
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
}

.menu a {
    text-decoration: none;
    color:black
}

.menu a:hover {
    color:red;
}

.menu > li:first-child a {                                           /* почему не работает :hover? */
    color: blue;
}

    /* сайдбар */
.sidebar {
    text-align: center;
    background-color: lightgray;
    margin-right: 10px;
}

.all {
    display: flex;
    flex-direction: row;
}

    /* медиа-запросы */
@media (max-width: 600px) {
    body {
        font-size: 14px;
    }
}

@media (min-width: 601px) and (max-width: 1200px) {
    body {
        font-size: 18px;
    }
}

@media (min-width: 1201px) {
    body {
        font-size: 22px;
    }
}

@media (max-width: 800px) {
    .sidebar {
        display: none;
    }
}