body {
    background-color: lightgray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

form {
    margin: 20px auto;
    max-width: 400px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}

button[type="submit"] {
    padding: 10px 20px;
    margin: 10px auto;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;    
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.alphabetButtonDiv {
    padding: 5px auto;
}

.alphaButton {
    padding: 10px 10px;
    margin: 10px auto;
    font-size: 10px;
    border-radius: 5px;
    border: none;
    background-color: #1d3c5e;
    color: #fff;    
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.result {
    margin: 20px auto;
    max-width: 800px;
    text-align: center;
    img {
        max-width: 300px;
        height: auto;
    }
}