.main-header {
    background-color: #2e3440  ;
    border-radius: 15px;
    margin: 10px;
}

.main-header a {
    text-decoration: none;
    color: #d8dee9;
}

.main-header ul {
    text-align: center;
    list-style-type: none;
}

.main-header li {
    display: inline-block;
    margin-right: 20px;
    color: #2e3440;
}

body {
    background-color: #4c566a ;
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
    color: #d8dee9;
    margin: 10px;
}

h2 {
    text-align: center;
    background-color: #2e3440  ;
    color: #d8dee9;
    border-radius: 15px;
    margin: 10px;
}

.image-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    align-items: center;
    gap: 10px;
    margin: 20px;

}
    
.image-container img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.main-footer {
    background-color: #2e3440;
    border-radius: 15px;
    text-align: center;
    color: #d8dee9;
    margin: 10px;
}

.image-container img:hover {
    transform: scale(1.5);
    object-fit: fill;
    transition: transform 0.3s ease-in-out;
}