body {
    background-color: lightgray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

form {
    margin: 20px auto;
    max-width: 600px;
    display: flex;
    justify-content: space-between;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 70%;
    box-sizing: border-box;
}

button[type="submit"] {
    padding: 10px 20px;
    margin: 10px auto;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;    
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.result {
    margin: 10px auto;
    max-width: 960px;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
}

.resultDay {
    margin: 10px auto;
    max-width: 300px;
    text-align: left;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    background-color: #fff;

}