.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-start {
    justify-content: flex-start;
}

.items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.text-decoration-none {
  text-decoration: none;
}
